.l_posttextarea__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.d_posttextarea {
    resize: none;
    border: 0.01rem solid rgba(128, 128, 128, 0.526);
    border-radius: 0.3rem;
    overflow: scroll;
    font-size: 1rem;
}

.l_posttextarea {
    width: 80%;
    height: 44px;
    padding-bottom: 10px;
    padding-top: 10px;
}